/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  background-color: black;
  color: orange;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h6 {
  margin: 0;
}

aside {
  position: fixed;
  color: white;
  right: 0%;
  padding-right: 1rem;
}

.space_dot {
  text-align: center;
  color: white;
  font-size: 1rem;
}

.ship {
  position: absolute;
  left: 50%;
  margin-left: -1rem;
}

.ship img {
  height: 2rem;
  width: 2rem;
}

.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  margin-top: 5px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 5px);
  }
  to {
    transform: translate(0, -0px);
  }
}

#loading {
  display: none;
}

.spin-container {
  text-align: center;
  margin-top: 100px;
}
.spin {
  border: 3px solid #0d4b9f;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader2 {
  border: 3px solid #e0edff;
  width: 220px;
  height: 220px;
  position: relative;
  top: -216px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader3 {
  border: 3px solid #005cdc;
  width: 240px;
  height: 240px;
  position: relative;
  top: -452px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader4 {
  border: 3px solid #94b6e5;
  width: 260px;
  height: 260px;
  position: relative;
  top: -708px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
#text {
  color: #d6e3f6;
  font-family: Arial;
  font-size: 15px;
  position: relative;
  top: -857px;
}

#currentAccuracy {
  color: #d6e3f6;
  font-family: Arial;
  font-size: 15px;
  position: relative;
  top: -857px;
}
